.Messages {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  overflow: hidden;

  .account {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;

    button {
      font-weight: bold;
      font-size: 1.1rem;
      width: calc(25% + 50px);
    }
  }

  .messages-wrapper {
    display: flex;
    width: 100%;
    max-height: calc(90vh - 100px);
    justify-content: center;
    gap: 10px;

    section {
      display: flex;
      flex-direction: column;
      width: calc(25% + 80px);
      height: 100%;

      h1 {
        box-sizing: border-box;
      }

      .messages-box {
        min-height: 200px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow-y: scroll;
        padding: 10px;
        -webkit-box-shadow: inset 0px 0px 4px 0px rgba(66, 68, 90, 1);
        -moz-box-shadow: inset 0px 0px 4px 0px rgba(66, 68, 90, 1);
        box-shadow: inset 0px 0px 4px 0px rgba(66, 68, 90, 1);
        border: 2px solid black;
        border-radius: 1rem;
      }
    }
  }
}
.msg {
  position: absolute;
  top: 10%;
  background: red;
  padding: 10px;
  border-radius: 1rem;
}
